[Unit]
Description=Run GitOps mirror synchronization every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=thatch-gitops-mirror-sync.service

[Install]
WantedBy=timers.target
